{% load static %}
<div class="col-8">
                <ul class="nav">
                    <li class="nav-item">
                        <div class="title_in_main">Settings:&nbsp;</div>
                    </li>
                    <li class="nav-item">
                        <div class="title_in_main">Dr Pepper</div>
                    </li>
                </ul>
                <div class="mb-3 row">
                    <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <input type="text" id="inputLogin" class="form-control" placeholder="DR Pepper"
                                   aria-label="Username"
                                   aria-describedby="basic-addon1">

                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <input type="text" id="inputEmail" class="form-control" placeholder="DR_Pepper@mail.ru"
                                   aria-label="Email"
                                   aria-describedby="basic-addon1">

                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <input type="text" id="inputNickname" class="form-control" placeholder="Pepper"
                                   aria-label="Nickname"
                                   aria-describedby="basic-addon1">

                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Image</label>
                    <div class="col-sm-10">
                        <img class="img_in_question" src="#"></img>
                        <div class="form-group">
                            <input id="file" type="file" class="file" data-preview-file-type="any">
                        </div>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2"></div>
                    <button type="button" class="btn btn-dark save-btn">Save!</button>
                </div>
            </div>