{% load static %}
<!doctype html>
<html lang="en" class="h-100 font" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rinat Khairullin">
    <title>RinatAsk</title>
    <link rel="canonical" href="#">
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/my.css' %}" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
{% block navbar %}
{% endblock navbar %}

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                {% block content %}
                {% endblock content %}
            </div>
            <div class="col-4">
                <div class="title_in_main">Popular tags</div>
                <ul class="nav space-left-20px">
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 0 %}">perl</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 1 %}" style="color: blue; font-size: 25px;">Python</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 2 %}" style="color: green; font-size: 30px;">MySQL</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 3 %}" style="color: red; font-size: 30px;">Technopark</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 4 %}" style="color: yellow; font-size: 25px;">Django</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 5 %}" style="color: black; font-size: 25px;">MailRU</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 6 %}" style="color: orange; font-size: 20px;">Psycho</a>
                    </li>
                    <li class="nav-item">
                        <a class="popular-title" href="{% url "tag" 7 %}" style="color: purple; font-size: 25px;">FireFox</a>
                    </li>
                </ul>
                <div class="col space-left-40px">
                    <div class="title_in_main">Best Members</div>
                    <a class="row popular-link">Dr House</a>
                    <a class="row popular-link">Bender</a>
                    <a class="row popular-link">Queen Victoria</a>
                    <div class="space_bottom-200px"></div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- footer -->
<footer class="bg-light text-center text-lg-start">
    <div class="text-center p-3 bg-dark">
        <a class="text_footer" href="{% url "index" %}">Ask Rinat</a>
    </div>
</footer>

<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>

</body>

</html>