{% load static %}

<div class="col-8">
    <ul class="nav">
        <li class="nav-item">
            <div class="title_in_main">Log in&nbsp;</div>
        </li>
    </ul>
    <div id="#" style="color: red;">
        Sorry, wrong password.
    </div>
    <div class="mb-3 row">
        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
        <div class="col-sm-10">
            <div class="input-group mb-3">
                <input type="text" id="inputLogin" class="form-control" placeholder="Enter your login here"
                       aria-label="Login"
                       aria-describedby="basic-addon1">

            </div>
        </div>
    </div>
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
            <div class="input-group mb-3">
                <input type="text" id="inputPassword" class="form-control" placeholder="************"
                       aria-label="Email"
                       aria-describedby="basic-addon1">
            </div>
        </div>
    </div>


    <div class="mb-3 row">
        <div class="col-sm-2"></div>
        <button type="button" class="btn btn-dark save-btn">Log in!</button>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" style="font-size: 30px; text-decoration: underline" href="#">Create new
                accaunt</a>
        </li>
    </ul>
</div>