<div class="title_in_main">New question</div>
<div class="mb-3 row">
    <label for="inputTitle" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
                        <textarea class="form-control" id="inputTitle" rows="2"
                                  placeholder="How to get away with murder?"></textarea>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputText" class="col-sm-2 col-form-label">Text</label>
    <div class="col-sm-10">
                        <textarea class="form-control" id="inputText" rows="8"
                                  placeholder="Why are you even asking that? Watch any detective film. You will figure it out..."></textarea>
    </div>
</div>
<div class="mb-3 row">
    <label for="inputTags" class="col-sm-2 col-form-label">Tags</label>
    <div class="col-sm-10">
                        <textarea class="form-control" id="inputTags" rows="1"
                                  placeholder="psycho, python"></textarea>
    </div>
</div>
<div class="dark-line"></div>
<button type="button" class="btn btn-dark answer-btn">Ask!</button>