/*<!-- Custom styles for this template -->*/
*{
    font-family: "Arial", fantasy ;
}
main > .container {
    padding: 120px 15px 0;
}

.nav-text {
	color: white;
	font-size: 25px;
	text-decoration: auto;
}

.img_in_header {
    width: 100px;
    height: 100px;
    margin-left: 110px;
    border: 2px white groove;
}

.img_in_question {
    width: 100px;
    height: 100px;
    border: 2px white groove;
}

.header_text {
    font-size: 30px;
    color: white;
}

.name_header {
    font-size: 40px;
    padding-left: 20px;
    text-decoration: auto;
    color: white;
    width: 235px;
}

.main_question {
    border: 2px black groove;
    padding: 30px;
    margin-top: 30px;
    height: 250px;
}

.title_in_main {
    padding-top: 20px;
    padding-left: 40px;
    font-size: 34px;
}

.font {
    font-size: 20px;
}

li.nav-item a {
    text-decoration: auto;
}

/*nav-bar-head*/

.search {
    margin-left: 150px;
    width: 500px;
}

.search-btn {
    border: 1px white groove;
    color: white;
}

.text_footer {
    font-size: 30px;
}


.like {
    margin: 2px 0 0 15px;
    padding-right: 0;
}

.button_like {
    margin-left: 0;
    margin-top: 2px;
    padding-left: 0;
}

.like-toggle {
    outline: none;
    box-shadow: none;
    border: none;
    width: 40px;
    height: 30px;
    font-size: 1.3em;
    border-radius: 100px;
}

.like_div {
    margin-top: 20px;
}

.like-toggle.basic2 {
    border: none;
    width: 40px;
    height: 30px;
    font-size: 1.3em;
    border-radius: 30px;
    background: #001dff;
    color: #fff;
}


.text_in_like {

    font-size: 14px;
    weight: 15px;
}

.question-title {
    font-size: 30px;
    margin-top: -12px;
    margin-bottom: 12px;
    text-decoration: underline;
    text-overflow: ellipsis;
    overflow: hidden;
}

.question-text {
    font-size: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    margin-left: 57px;
}

.question-footer {
    margin-top: 50px;
}

.second-question-tag {
    padding-left: 20px;
}

.popular-title {
    margin: 25px;
}

.space-left-40px {
    margin-left: 40px;
    margin-top: 80px;
}

.space-left-20px {
    margin-left: 20px;
}

.space_bottom-200px {
    margin-bottom: 200px;
}

.select-question {
    padding: 30px;
    height: 300px;
}

.popular-link {
    font-size: 25px;
    margin: 15px
}

.dark-line {
    margin-top: 20px;
    margin-left: -200px;
    background: black;
    height: 2px;
    margin-bottom: 90px;
}

.col-8 > .dark-line {
    margin-left: -30px;
    margin-bottom: 40px;
}

.answer-btn {
    margin-left: 720px;
    margin-bottom: 15px;
}

.page {
    margin-top: 15px;
}

.save-btn{
    width: 100px;
    margin-left: 500px;
}