{% extends "include/base.html" %}
{% load static %}

{% block navbar %}
    {% include "include/navbar_login.html" %}
{% endblock navbar %}


{% block content %}
    <ul class="nav">
        <li>
            <div class="title_in_main">New questions</div>
        </li>
        <li class="nav-item">
            <a class="nav-link title_in_main" href="{% url "hot" %}">Hot questions</a>
        </li>
    </ul>
    {% for question in page.object_list %}
        {% include 'include/single_question.html' %}
    {% endfor %}
    {% include 'include/pagination.html' %}
{% endblock content %}
